@model HomeShareDAL.BienEchange

@{
    ViewBag.Title = "EditBienMembre";
}

<h2>EditBienMembre</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BienEchange</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.IdBien, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdBien)
                @Html.ValidationMessageFor(model => model.IdBien)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Titre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titre)
                @Html.ValidationMessageFor(model => model.Titre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescCourte, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescCourte)
                @Html.ValidationMessageFor(model => model.DescCourte)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescLong, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescLong)
                @Html.ValidationMessageFor(model => model.DescLong)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NombrePerson, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombrePerson)
                @Html.ValidationMessageFor(model => model.NombrePerson)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pays, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pays)
                @Html.ValidationMessageFor(model => model.Pays)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ville, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ville)
                @Html.ValidationMessageFor(model => model.Ville)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rue)
                @Html.ValidationMessageFor(model => model.Rue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Numero, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Numero)
                @Html.ValidationMessageFor(model => model.Numero)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodePostal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodePostal)
                @Html.ValidationMessageFor(model => model.CodePostal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Photo)
                @Html.ValidationMessageFor(model => model.Photo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssuranceObligatoire, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssuranceObligatoire)
                @Html.ValidationMessageFor(model => model.AssuranceObligatoire)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsEnabled, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsEnabled)
                @Html.ValidationMessageFor(model => model.IsEnabled)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisabledDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisabledDate)
                @Html.ValidationMessageFor(model => model.DisabledDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Latitude)
                @Html.ValidationMessageFor(model => model.Latitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Longitude)
                @Html.ValidationMessageFor(model => model.Longitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateCreation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateCreation)
                @Html.ValidationMessageFor(model => model.DateCreation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdMembre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdMembre)
                @Html.ValidationMessageFor(model => model.IdMembre)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
