@model IEnumerable<HomeShareDAL.BienEchange>

@{
    ViewBag.Title = "ListeBiens";
}

<h2>ListeBiens</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdBien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescCourte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescLong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombrePerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodePostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssuranceObligatoire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisabledDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdMembre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdBien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescCourte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescLong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodePostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssuranceObligatoire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisabledDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMembre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdBien }) |
                <a href="~/Member/Home/Delete/@item.IdBien" onclick="return confirm('Voulez-vous supprimer ce bien ?')">Supprimmer</a>
                <a href="~/Member/Home/Edit/@item.IdBien" onclick="return confirm('Voulez-vous modifier ce bien ?')">Modifier</a>
            </td>
        </tr>
    }

</table>
